html body .content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: column wrap;
    background-color: #dfe4ea;
    flex: 1 0 auto;
    padding: 2rem;
    
}