html body .content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: column wrap;
    background-color: #dfe4ea;
    padding: 2rem;
    min-height: 100%;
}