
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


html body .background{
    max-width: 100%;
    height: auto;
    background-image: url('../../assets/image/backgroundimage.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html body .background .navcomp {
    display: inline;
    padding-top: 0;
    margin-left: 0;
    color: #000;
    
}

html body .background a {
    color: #57606f;
    padding-left: 0;
    padding: 1rem;
}

html body .background a:hover{
    color: #dfe4ea;
    background-color: #57606f;
}

html body .logo {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

html body .logo  img {
    width: 25%;
    height: 100%;
}